@{
    ViewBag.Title = "About";
}

<h1>About Me</h1>
<b>Here you can find detailed information about my educational background, skills, and experiences.</b>
<p>

<main>


    - Certainly! Here's a paragraph about Siyanda Shoba in point form:
    <br />

    - Siyanda Shoba, born on August 1, 2003, resides in the picturesque town of Msinga Pomeroy.
    <br />

    - Currently enrolled at the Durban University of Technology, Siyanda is pursuing a course in ICT Application Development.
    <br />

    - He is currently at level 2 in his academic journey.

    <br />
    - Siyanda is not only dedicated to his studies but also possesses a good heart, always willing to lend a helping hand to those in need.

    <br />
    - Beyond academics, Siyanda actively participates in extracurricular activities such as sports.
    <br />
    - His involvement in sports not only keeps him physically active but also instills values of teamwork, discipline, and perseverance.
    <br />
    - Siyanda's commitment to both his education and community involvement reflects his well-rounded character and aspirations for personal growth and contribution to society.

</p>

<main/>