
@{
    ViewBag.Title = "A";
}


<h2>Projects</h2>

<div>
    <h3>Project 1: E-Commerce Website</h3>
    <p>Description: Developed a full-fledged e-commerce website using ASP.NET MVC framework. The website includes features such as user authentication, product management, shopping cart, and checkout.</p>
    <p>Technologies used: ASP.NET MVC, C#, Entity Framework, HTML, CSS, JavaScript</p>
    <p>GitHub Repository: <a href="https://github.com/MrSHOBA/ECommerceWebsite.git">https://github.com/MrSHOBA/ECommerceWebsite.git</a></p>
</div>

<div>
    <h3>Project 2: Task Management App</h3>
    <p>Description: Created a task management application to help users organize their tasks efficiently. The app allows users to create, update, and delete tasks, set deadlines, and mark tasks as complete.</p>
    <p>Technologies used: ASP.NET Core MVC, C#, Entity Framework Core, JavaScript, Bootstrap</p>
    <p>GitHub Repository: <a href="https://github.com/MrSHOBA/TaskManagementApp.git">https://github.com/MrSHOBA/TaskManagementApp.git</a></p>
</div>

<div>
    <h3>Project 3: Blogging Platform</h3>
    <p>Description: Developed a blogging platform where users can create, edit, and publish blog posts. The platform also includes features such as user comments, categories, and search functionality.</p>
    <p>Technologies used: ASP.NET Core MVC, C#, Entity Framework Core, Razor Pages, HTML, CSS</p>
    <p>GitHub Repository: <a href="https://github.com/MrSHOBA/BloggingPlatform.git">https://github.com/MrSHOBA/BloggingPlatform.git</a></p>
</div>

